.section-details-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.section-details-container h2 {
    margin-bottom: 20px;
}

.article {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.article:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.article h4 {
    margin-top: 0;
}

.add-article-button,
.edit-button-ctg,
.delete-button-ctg {
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 16px;
    color: #bebebe;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button-ctg:hover {
    color: #007bff;
    background-color: #fff; /* синий при наведении */
}

.delete-button-ctg:hover {
    color: #dc3545;
    background-color: #fff; /* красный при наведении */
}

.add-article-button {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.add-article-button:hover {
    background-color: #218838;
}